<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true"
               name="log4j2" packages="org.apache.logging.log4j.test">
    <Properties>
        <Property name="logPath">/target/log4j2</Property>
        <Property name="rollingFileName">app</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %F %L - %msg%n"/>
        </Console>
        <RollingFile
                name="rollingFile" fileName="logs/app.log"
                filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss.SSS}] %F %L %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <NoSql name="databaseAppender">
            <MongoDb databaseName="seleniumTest" collectionName = "User"
                     server="localhost:27017" username="user name" password="DB password" />
        </NoSql>
    </Appenders>
    <Loggers>
        <Logger name="org.mongodb.driver.operation" level="INFO"/>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="rollingFile" />
            <AppenderRef ref="databaseAppender" />
        </Root>

    </Loggers>
</Configuration>